body{
    background-color: white;
}

.myplan {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color:  red;
    display: block;
}


.actionplan
{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: orange;
    display: block;
}

.mailnote
{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: #00ff00;
    display: block;
}

.inbox {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: yellow;
    display: block;
}

.outbox {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: turquoise;
    display: block;
}

.send {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: #b19cd9;
    display: block;
}

.viewnote {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: grey;
    display: block;
}

.box {
    border-style: ridge;
    border-color: #00ff00;
}