body{
    background-color: white;
}

.myplan {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color:  red;
    display: block;
}


.actionplan
{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: orange;
    display: block;
}

.mailnote
{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: #00ff00;
    display: block;
}

.inbox {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: yellow;
    display: block;
}

.outbox {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: turquoise;
    display: block;
}

.send {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: #b19cd9;
    display: block;
}

.viewnote {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: grey;
    display: block;
}

.box {
    border-style: ridge;
    border-width: 4px;
    border-color: #00ff00;
}

.pic {
    background-color: black;
    display: block;
    border-style: solid;
    border-width: 1px;
}

.message {
    text-align: center;
    border-style: solid;
    border-width: 1px;

}

.profile
{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: grey;
    display: block;
    margin-bottom: 3%;
    margin-left: 0.25%;
}

.profile img {
    padding-top: 3%;
}

.but {
    transition-duration: 0.4s;
    display: block;
    border-style: ridge;
    background-color: lightblue;
    margin: 5%;
    font-size: 20px;
}

.but:hover {
    background-color: darkblue;
    color: white;
}

.outof {
    text-align: center;
    text-decoration: underline;
    margin-top: 1%;
}

.sendbut {
    transition-duration: 0.4s;
    display: block;
    border-style: ridge;
    background-color: coral;
    font-size: 24px;
    margin: 1%;
}

.sendbut:hover {
    background-color: orange;
    color: white;
}

.sendbody {
    background-color: #3a3b3c;
    color: white;
}

.notetable {
    margin-top: 2%;
    background-color: white;
}

.notetable td {
    border: 2px;
    border-style: solid;
}

.notetable th {
    background-color: coral ;
    text-decoration: underline;
    border: 3px;
    border-style: solid;
}

.notetable tr {
    border: 2px;
    border-style: solid;
}

.notetable tr:nth-child(even){
    background-color: #d7e5f0
}

.notetable tr:hover {
    background-color: #9ab6dd
}

.read {
    text-align: center;
    border: 1px;
    border-style: solid;
    background-color: white;
}

.add {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: green;
}

.remove {
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    background-color: red;
}
