<html lang="en">

<head>
  <!--title is text-only and shown in browser title bar -->
  <title>Tutorial Index</title>
  <!-- Meta Tags: To ensure proper rendering and touch zooming, add the following meta tag inside the <head> element: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS ="bootstrap-5.1.3-dist/css/bootstrap.min.css" -->
  <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.css">
  <link href="public/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>



</head>

  <body>

    <!-- container for the main body --> <!-- -->
    <div class="container">

      <div class="profile">
        <!-- Buffer Zone -->
          <img src="Pics\woman.jpg" class="float-left" >
          <p> Mary </p>
          <a href="#">
            Logout
          </a>
      </div>
     <!-- Button Row Main NavBar -->
     <div class="row">
      <div class="col-4 myplan">
          <a href="#" class="btn">
            My Plan
            <img src="Pics/plan.png" alt="My Plan" class="img-fluid">
          </a>
      </div>
      <div class="col-4 actionplan">
        <a href="#" class="btn">
          Action Plan
          <img src="Pics/goal.png" alt="Action Plan" class="img-fluid">
        </a>
      </div>
      <div class="col-4 mailnote">
        <a href="index.ejs" class="btn">
          Mail/Notes
          <img src="Pics/mail.png" alt="Mail" class="img-fluid">
        </a>
      </div>
    </div>

    <div class="container box sendbody">
      <h2> Send Message</h2>

    <!-- Button Row Mail&Notes -->
    <div class="row">
        <div class="col-sm inbox" aria-labelledby="inbox">
          <a href="index.ejs" class="btn">
            Inbox
            <img src="Pics/inbox.png" alt="Inbox" class="img-fluid">
          </a>
        </div>

        <div class="col-sm outbox" aria-labelledby="outbox">
          <a href="outbox.ejs" class="btn">
            Outbox
            <img src="Pics/outbox.png" alt="Outbox" class="img-fluid">
          </a>
        </div>

        <div class="col-sm send" aria-labelledby="send message">
          <a href="sendmessage.ejs" class="btn">
            Send Message
            <img src="Pics/send.png" alt="Send message" class="img-fluid">
          </a>
        </div>

        <div class="col-sm viewnote" aria-labelledby="view notes">
          <a href="notes.ejs" class="btn">
            View Notes
            <img src="Pics/notes.png" alt="Notes" class="img-fluid">
          </a>
        </div>
     </div>

<!-- start of Template -->
<form id="mailForm" action="/" method="POST">
    <div class="form-group">
      <label for="EmailAddress">To:</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="CC">CC:</label>
      <input type="text" class="form-control" name="cc" id="cc" placeholder="CC">
    </div>
    <div class="form-group">
      <label for="BCC">BCC:</label>
      <input type="text" class="form-control" name="bcc" id="bcc" placeholder="BCC">
    </div>
    <div class="form-group">
      <label for="Subject">Subject:</label>
      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message:</label>
      <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>
    <br>
    <button type="submit" class="btn sendbut">Send</button>
  </form>


  </body>

  <footer>
  </footer>

</html>
